@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Roboto:wght@400;700&display=swap');
:root{
  --dark-blue:#264653;
  --purple:#230062;
  --light:#2a9d8f;
  --gray: #c7bebe;
}
body{
  background-color: var(--light);
}

.site-header{
  background-color: var(--dark-blue);
  font-family: 'Roboto', sans-serif;
}
.currency-card{
  background-color: var(--purple);
}
/* .currency-title{
  font-family: 'Lato', sans-serif;
} */
.currency-symbol{
  color: var(--gray);
}
.currency-price{
  font-family: 'Lato', sans-serif;
  font-weight:bold;
}
.site-footer{
   background-color: var(--dark-blue);
  font-family: 'Roboto', sans-serif;
}
.currency-card:nth-child(1),.currency-card:nth-child(4){
  background: rgb(43,40,131);
background: linear-gradient(180deg, rgba(43,40,131,1) 0%, rgba(97,159,244,1) 100%);
}
.currency-card:nth-child(2),.currency-card:nth-child(5){
  background: rgb(2,0,36);
  background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(1,209,251,1) 100%);
}
.currency-card:nth-child(3),.currency-card:nth-child(6){
  background: rgb(69,40,131);
background: linear-gradient(180deg, rgba(69,40,131,1) 0%, rgba(97,174,244,1) 100%);
}
.loader {
	border-top-color: #3498db;
	-webkit-animation: spinner 1.5s linear infinite;
	animation: spinner 1.5s linear infinite;
}

@-webkit-keyframes spinner {
	0% {
		-webkit-transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
	}
}

@keyframes spinner {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}